* {
/*  margin: 0;
  padding: 0;*/
}

/*Carolyn - vertical alignment issues with the h1/social and the credits - what did I do wrong?*/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #222222;
  line-height: 1.3;
}

header {
	background-color: #222222;
}

nav {
  background-color: #222222;
	width: 960px;
	margin: 0 auto;
  overflow: auto;
}

nav a {
	width: 80px;
	text-align: center;
	color: #cccccc;
	text-decoration: none;
	float: left;
	padding: 30px 5px;
}

nav a:hover {
	color: #ffffff;
	background-color: #1FA2E1;
}

.hero {
	height: 370px;
  background: url("../images/photobanner.png") no-repeat center /*top*/;
  background-size: cover;
}

#top {
	width: 960px;
	margin: 0 auto;
	padding-top: 30px;
	  overflow: auto;
/*background-color: #ffffff;*/
}

h1 {
	font-family: "Permanent Marker", Arial, sans-serif;
	font-size: 36px;
	float: left;
}

#top a {
	float: right;
	padding: 2px;
}

.content {
	width: 960px;
	margin: 0 auto;
}

blockquote {
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px 20px/* 5px*/;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 14px;
	width: 920px;
	border:2px solid #eeeeee;
}

article {
	width: 290px;
	float: left;
	margin-right: 45px;
}

h2 {
	font-family: "Permanent Marker", Arial, sans-serif;
	font-size: 24px;
}

article img {
	border:8px solid #eeeeee;
}

article a {
	color: #1FA2E1;
	text-decoration: none;
}

#homebox3 {
	margin-right: 0px;
	margin-bottom: 35px;
}

footer {
  background-color: #222222;
  overflow: auto;
  clear: left;
}

.footerwidgets {
	width: 960px;
	margin: 0 auto;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #aaaaaa;	

}

.widget13 {
	width: 210px;
	float: left;
	line-height: 28px;
	margin-bottom: 40px;
	margin-right: 40px;
}

h3 {
	font-family: "Permanent Marker", Arial, sans-serif;
	font-size: 18px;
	color: #cccccc;	
	padding-bottom: 8px;
	margin-bottom: 0px;
	border-bottom: 1px dashed #666666;
}

#widget2 {
	width: 400px;
	float: left;
	line-height: 28px;
	margin-bottom: 40px;
	margin-right: 40px;
}

#widget2 p {
	margin-top: 1px;
	line-height: 15px;
}

.footerwidgets a {
	color: #1FA2E1;
	text-decoration: none;
}

ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
	padding-top: none;
	border-bottom: 1px dashed #666666;
}

.credits {
	clear: left;
	width: 960px;
	margin: 0 auto;
	margin-bottom: 50px;
}

span {
	clear: left;
	float: right;
}